# Data and temporary files
.snakemake/
data/contigs/*
!data/contigs/.gitkeep
data/metadata/*
!data/metadata/.gitkeep
!data/metadata/sample_map.csv
results/
logs/
plan/
output/

# Environments
amr-env/

# System files
.DS_Store
Thumbs.db
*.log
